Source: ubuntucinnamon-meta
Section: metapackages
Priority: optional
Maintainer: Joshua Peisach <ubuntucinnamonremix7@gmail.com>
Standards-Version: 4.4.0
Homepage: https://github.com/ubuntucinnamonremix/ubuntu-cinnamon-environment
Build-Depends: debhelper (>= 12), germinate (>= 2.32)

Package: ubuntucinnamon-minimal
Architecture: amd64 arm64
Depends: ${misc:Depends}, ${germinate:Depends}, cinnamon-core
Recommends: ${germinate:Recommends}
Description: Minimal core of ubuntucinnamon OS
 This metapackage depends on all of the packages in the ubuntucinnamon minimal system,
 that is a functional command-line system with the following capabilities:
 .
  - Boot
  - Detect hardware
  - Connect to a network
  - Install packages
  - Perform basic diagnostics
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: ubuntucinnamon-standard
Architecture: amd64 arm64
Depends: ${misc:Depends}, ${germinate:Depends}, cinnamon
Recommends: ${germinate:Recommends}
Description: CLI-only components of ubuntucinnamon OS
 This metapackage depends on most of non-GUI packages from ubuntucinnamon OS.
 .
 This set of packages provides a comfortable command-line Unix-like
 environment.
 .
 It is used to ensure proper upgrades, so it is recommended that it not be
 removed.

Package: ubuntucinnamon-desktop
Architecture: amd64 arm64
Depends: ${misc:Depends}, ${germinate:Depends}, cinnamon-desktop-environment, kimmo-gtk-theme, kimmo-icon-theme, ubuntucinnamon-wallpapers
Recommends: ${germinate:Recommends}
Description: Complete desktop of ubuntucinnamon OS
 This metapackage installs the complete ubuntucinnamon desktop.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.
