Package: ubuntucinnamon-standard
Source: ubuntucinnamon-meta
Version: 0.0.1
Architecture: amd64
Maintainer: Joshua Peisach <ubuntucinnamonremix7@gmail.com>
Installed-Size: 8
Depends: file, ftp, info, iptables, language-selector-common, libpam-systemd, logrotate, lshw, lsof, ltrace, man-db, mime-support, parted, pciutils, psmisc, rsync, strace, time, usbutils, wget
Recommends: apparmor, bash-completion, btrfs-tools, command-not-found, cryptsetup, friendly-recovery, iputils-tracepath, irqbalance, jfsutils, lvm2, manpages, mlocate, mtr-tiny, nano, ntfs-3g, openssh-client, plymouth, tcpdump, telnet, ufw, ureadahead, uuid-runtime
Section: metapackages
Priority: optional
Homepage: https://github.com/ubuntucinnamonremix/ubuntu-cinnamon-environment
Description: CLI-only components of ubuntucinnamon OS
 This metapackage depends on most of non-GUI packages from ubuntucinnamon OS.
 .
 This set of packages provides a comfortable command-line Unix-like
 environment.
 .
 It is used to ensure proper upgrades, so it is recommended that it not be
 removed.
